doctype html
html
  head
    title Pong - Game
    link(rel='shortcut icon', href='/favicon.ico')
    link(rel='stylesheet', text='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css')
    link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    link(rel='stylesheet', text='text/css', href='/css/styles.css')
  body
    .container-fluid.h-100.pt-3.pb-3
      .row.h-100
        #chat.col-md-3
          h1.text-center.text-white Chat
          - var n = 0
          ul.list-group.test
            while n++ < 12
              li.list-group-item.align-items-start
                .d-flex.w-100.justify-content-between
                  h5.mb-1 Jaredible
                  small.text-muted 3:14 PM, Today
                p.mb-1 This is a sentence. This is another sentence. I hope this wraps.
          form
            .input-group
              input(class='form-control', type='text', placeholder='Message')
              .input-group-append
                button.btn.btn-primary Send
        #game.col-md-6.text-white
          .h-100.d-flex.align-items-center
            canvas
        #perks.col-md-3.text-white
          h1.text-center Perks
          - var n = 0
          ul.list-group
            while n++ < 36
              li.list-group-item.p-0
                .input-group
                  .form-control Jaredible VS Bob
                  .input-group-append
                    button(class='btn btn-primary', disabled) Spectate
    script(src='https://code.jquery.com/jquery-3.4.1.min.js', integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js', integrity='sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o', crossorigin='anonymous')
    script(src='/socket.io/socket.io.js')
    script(src='/js/main.js')
    script(src='/js/pong.js')
