doctype html
html
  head
    title=Game
    link(rel='shortcut icon', href='/favicon.ico')
    link(rel='stylesheet', href='/css/styles.css')
  body
    #wrapper
      .container
        h1.title Game
        #login-wrapper
          .login-container
            h3 Login
            form(class='login-form', action='/login', method='POST')
              input(type='text', placeholder='Username')
              input(type='submit', value='Join')
        #game-wrapper
          .game-container
            canvas
        #lobby-wrapper
          .lobby-container
            h3.lobby-title Players
            ul.player-list
              li.player-item
                span.player-name Player1
                span.player-actions
                  button Play
              li.player-item
                span.player-name Player2
                span.player-actions
                  button Play
              li.player-item
                span.player-name Player3
                span.player-actions
                  button Play
        #chat-wrapper
          .chat-container
            h3.chat-title
            ul.chat-messages
              li.chat-message Testing1
              li.chat-message Testing2
              li.chat-message Testing3
            form(class='chat-form')
              input(class='message-box', type='text', playerholder='Message')
              input(class='message-send', type='submit', value='Send')
    script(src='/jquery/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/main.js')
