doctype html
html
  head
    title Pong - Lobby
    link(rel='shortcut icon', href='/favicon.ico')
    link(rel='stylesheet', text='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css')
    link(rel='stylesheet', text='text/css', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    link(rel='stylesheet', text='text/css', href='/css/animate.css')
    link(rel='stylesheet', text='text/css', href='/css/styles.css')
  body
    button.position-fixed.btn.btn-lg.btn-secondary.thetest Test
    .testing.animated
    #myModal.modal.animated.bounceInDown
      .modal-dialog.modal-dialog-centered
        .modal-content
          .modal-body
            #login.h-100.m-auto
              .input-group.input-group-lg
                input(id='username', class='form-control', type='text', placeholder='', autocomplete='off', autofocus)
                .input-group-append
                  button#login-btn.btn.btn-primary Login
    .container-fluid.h-100.pt-3.pb-3.animated.blur
      .row.h-100
        #chat.col-md-4
          h1.text-center.text-white.animated#title1 Chat
          #wrapper1.animated
            ul.list-group.test3
          #chat-form.animated
            .input-group
              input(id='chat-box', class='form-control', type='text', placeholder='Message', autocomplete='off')
              .input-group-append
                button#chat-btn.btn.btn-success Send
        .col-md-4
        #players.col-md-4.text-white
          h1.text-center.text-white.animated#title2 Players
          #wrapper2.animated
            ul.list-group#test
        //- #games.col-md-4.text-white.animated
          h1.text-center.text-white.animated#title3 Games
          - var n = 0
          #wrapper3.animated
            ul.list-group
              while n++ < 36
                li.list-group-item.p-0
                  .input-group
                    .form-control Jaredible VS Bob
                    .input-group-append
                      button.btn.btn-info Spectate
    script(src='https://code.jquery.com/jquery-3.4.1.min.js', integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js', integrity='sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o', crossorigin='anonymous')
    script(src='/socket.io/socket.io.js')
    script(src='/js/main.js')
