doctype html
html
  head
    title Testing
    link(rel='stylesheet', type='text/css', href='/css/test.css')
  body
    canvas(id='viewport', width='640', height='480', tabindex='1')
    //- .overlay
    //- .modal
      .modal-content
        .modal-body
          input(type='text', placeholder='placeholder')
          button(type='submit', value='Submit')
    //- .test1
      .container
        .row
          .col-12
            .content
              canvas#viewport
    //- .test2
      .container
        .row
          .col-3
            .content
          .col-6
            .content
              input(id='input-login', type='text', placeholder='Username', autofocus)
              button(id='btn-login', type='submit', value='Login')
          .col-3
            .content
              h1.title Testing
              h2.title Testing
              h3.title Testing
              h4.title Testing
              h5.title Testing
              - var i = 0
              ul.items
                while i < 50
                  li.item= i++
              h1.title Testing
    script(src='https://code.jquery.com/jquery-3.4.1.min.js', integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=', crossorigin='anonymous')
    script(src='/socket.io/socket.io.js')
    script(src='/js/stats.js')
    script(src='/js/timer.js')
    script(src='/js/vector.js')
    script(src='/js/color.js')
    script(src='/js/polygon.js')
    script(src='/js/world.js')
    script(src='/js/view.js')
    script(src='/js/test.js')
