@font-face {
  font-family: 'Bitmap';
  src: url('/font/bitmap.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Bitmap';
  background-color: #0a3d62;
  border: 5px solid #3c6382;
}

.title {
  text-align: center;
}

#login-wrapper {
  height: 100%;
}

#test1 {
  position: absolute;
  padding-right: 15px;
  top: 15px;
}

#test2 {
  position: absolute;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  right: 0;
  bottom: 15px;
}

.col-md-4 {
  height: 100%;
}

.blur {
  filter: blur(2px);
}

.testing {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1000;
}

.modal {
  display: block;
  position: fixed;
  z-index: 10000;
  filter: none;
}

.test {
  max-height: calc(100% - 48px - 15px - .5rem - 38px) !important;
}

.list-group {
  max-height: calc(100% - 48px - 15px - .5rem);
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.list-group::-webkit-scrollbar {
  display: none;
}

.form-control {
  border-width: 0;
  border-radius: 0 !important;
}

.btn {
  border-width: 0;
  border-radius: 0 !important;
}

.list-group-item {
  /* border-width: 0; */
  border-radius: 0 !important;
}

.login-container {
  text-align: center;
}

.login-form {
}

#game-wrapper {
}

#login {
  max-width: 330px;
}

.btn-primary {
  background-color: #2980b9
}

.btn-danger {
  background-color: #c0392b;
}

.status {
  color: #ccc;
  margin: auto 5px;
  padding: 2px;
}

.online {
  color: #2ecc71;
}

.offline {
  color: #f39c12;
}

.game-container {
  display: none;
  margin: 15px;
  padding: 15px;
}

canvas {
  display: block;
  margin: auto;
  border: 10px solid #3c6382;
}

#lobby-wrapper {
}

.lobby-container {
  display: none;
  margin: 15px;
  padding: 15px;
}

.lobby-title {
  text-align: center;
}

.player-list {
  text-align: center;
}

.player-item {
}

.player-name {
}

.player-actions {
}

.lobby-container ul {
  list-style: none;
}

#chat-wrapper {
}

.chat-container {
  display: none;
  margin: 15px;
  padding: 15px;
}

.chat-title {
  text-align: center;
}

.chat-messages {
  margin: 0;
  padding: 0;
  list-style: none;
}

.chat-message {
}

.chat-form {
}

.message-box {
}

.message-send {
}
